.cmd-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cmd-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5) !important;
}

.form-control:focus {
  background-color: #212529;
  color: #fff;
  border-color: #0dcaf0;
}